// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.top {
  height: 200px;
  width: 100%;
  margin-top: 0;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?auto=format&fit=crop&w=1078&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  position: fixed;
  z-index: 1;
  text-transform: uppercase;
  font-size: 36px;
  span {
    animation: colorBlock 30s ease-in infinite;
  }
  nav {
    background-color: transparent;
    ul li a:hover {
      color: magenta;
      text-decoration: none;
    }
  }
}



// KEYFRAMES
@keyframes colorBlock {
  0% {
    color: red;
  }
  12% {
    color: orange;
  }
  25% {
    color: rgb(255, 248, 70);
  }
  37% {
    color: green;
  }
  50% {
    color: darkgreen;
  }
  62% {
    color: teal;
  }
  75% {
    color: magenta;
  }
  87% {
    color: purple;
  }
  100% {
    color: red;
  }
}
